@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2f2f2f;
  font-weight: 300;
}

p {
  color: #565656;
  font-size: 15px;
  line-height: 2;
  font-weight: 300;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 45px 45px 1fr 45px;
}

#logo {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  background-color: #363636;
  color: #fff;
  line-height: 45px;
  padding-left: 15px;
  font-size: 20px;
}

#links {
  grid-column: 3 / span 2;
  grid-row: 1 / span 1;
  background-color: #363636;
  text-align: right;
  padding-right: 15px;
}

#links > a {
  margin: 15px;
  line-height: 45px;
  font-size: 13px;
  color: #fff;
  text-decoration: none;
}

main {
  grid-column: 1 / span 4;
  grid-row: 3 / span 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto;
}

header {
  width: Calc(100% - 20px);
  background-color: #5a5a5a;
  padding: 5px 5px 5px 15px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  grid-column: 1 / span 6;
  height: 30px;
}

header > h2 {
  color: #fff;
  font-size: 20px;
}

portfolio {
  grid-row: 2 / span 1;
  grid-column: 1 / span 6;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

portfolio > column {
  flex: 50%;
  max-width: Calc(50% - 10px);
  padding: 0 5px;
}

portfolio > column > img {
  width: 100%;
  vertical-align: middle;
  padding: 5px 0;
}

prices {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 35px;
  padding: 5px;
  grid-row: 4 / span 1;
  grid-column: 1 / span 6;
}

prices > div {
  padding: 5px;
  border-bottom: dotted #3d3d3d 1px;
}

prices > div:nth-child(odd) {
  grid-column: 1 / span 1; 
}

prices > div:nth-child(even) {
  grid-column: 2 / span 1;
  text-align: right;
}

bio {
  grid-column: 1 / span 6;
  padding: 10px;
  display: block;
}

appointment {
  grid-column: 1 / span 6;
  padding: 10px;
  display: block;
}

footer {
  grid-column: 1 / span 4;
  grid-row: 4 / span 1;
  background-color: #363636;
  text-align: center;
  line-height: 45px;
  color: #fff;
  font-size: 12px;
}

@media only screen and (max-width: 325px) {
  body {
    grid-template-rows: 45px 90px 1fr 45px;
  }
}
@media only screen and (max-width: 415px) {
  #logo {
    grid-column: 1 / span 4;
    grid-row: 1 / span 1;
    text-align: center;
    padding: 0;
  }
  
  #links {
    grid-column: 1 / span 4;
    grid-row: 2 / span 1;
    text-align: center;
    padding: 0;
    background-color: #414141;
  }
}

@media only screen and (min-width: 415px) {
  body {
    grid-template-rows: 45px 1fr 45px;
  }
  main {
    grid-row: 2 / span 1;
  }
  portfolio {
    grid-column: 2 / span 4;
  }
  portfolio > column {
    flex: 25%;
    max-width: Calc(25% - 50px);
    padding: 0 25px;
  }
  portfolio > column > img {
    padding: 25px 0;
  }
  footer {
    grid-row: 3 / span 1;
  }
  #pricesHeader {
    grid-column: 3 / span 2;
    grid-row: 3 / span 1;
  }
  prices {
    grid-column: 3 / span 2;
  }
  #bioHeader {
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
  }
  bio {
    grid-column: 1 / span 2;
  }
  #appointmentHeader {
    grid-column: 5 / span 2;
    grid-row: 3 / span 1;
  }
  appointment {
    grid-column: 5 / span 2;
  }
  #pricesHeader, prices, #bioHeader, bio, #appointmentHeader, appointment {
    border-right: 5px solid #fff;
    border-left: 5px solid #fff;
  }
}